:root {
    --primary: #f1f6f9;
    --font: #010101;
    --secondary: #394867;
    --secondary2: #212a3e;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    color: var(--font);
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--primary);
    color: var(--font);
    width: 100%;
    height: auto;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgb(255, 255, 255);
    /* border-bottom: 1px solid #7b5c3d; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.navbar .navbar-nav {
    display: flex;
}
.navbar .navbar-nav .navbar-logo {
    color: var(--font);
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
    margin-right: 5rem;
}
.navbar .navbar-nav .navbar-logo span {
    color: var(--secondary);
}

.navbar .navbar-nav .navbar-menu a {
    color: var(--font);
    display: inline-block;
    font-size: 1rem;
    margin: 0 1rem;
}
.navbar .navbar-nav .navbar-menu a:hover {
    color: var(--secondary);
}
.navbar .navbar-nav .navbar-menu a::after {
    content: "";
    display: block;
    border-bottom: 0.1rem solid var(--secondary2);
    padding-bottom: 0.2rem;
    transform: scaleX(0);
    transition: 0.2s linear;
}
.navbar .navbar-nav .navbar-menu a:hover::after {
    transform: scaleX(0.5);
}

/* Dropdown Button */
.dropbtn {
    color: var(--font);
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    color: var(--secondary);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/* navbar extra */
.navbar .navbar-extra a {
    margin: 0 0.5rem;
}
.navbar .navbar-extra a:hover {
    color: var(--secondary);
}
#hamburger-menu {
    display: none;
}

.navbar .navbar-extra .masuk {
    background-color: #212a3e;
    color: white;
    display: inline-block;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.navbar .navbar-extra .daftar {
    background-color: #212a3e;
    color: white;
    display: inline-block;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.navbar .navbar-extra .masuk:hover {
    background-color: #394867;
    color: white;
    display: inline-block;
    padding: 0.5rem 1rem;
}
.navbar .navbar-extra .daftar:hover {
    background-color: #394867;
    color: white;
    display: inline-block;
    padding: 0.5rem 1rem;
}

/* heroo */
.hero {
    height: auto;
    margin-top: 6rem;
    width: 100%;
    padding: 1.4rem 7%;
    /* background-color: #394867; */
}

.hero .content {
    padding: 1.4rem 15%;
    max-width: 100%;
    background-color: #d6e4e5;
    /* position: relative; */
}
.hero .content .description {
    display: flex;
    justify-content: space-between;
}

/* search */

.content .description .left-description .card-search input[type="text"] {
    padding: 6px 60px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}
.content .description .left-description .card-search button {
    /* float: right; */
    padding: 6px 10px;
    margin-top: 8px;
    /* margin-right: 50px; */
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.content .description .left-description .card-search button:hover {
    background: #ccc;
}

.content .description .left-description h1 {
    font-weight: 700;
    margin-top: 5rem;
    color: var(--secondary2);
    font-size: 3rem;
}
.content .description .left-description p {
    font-size: 1.5rem;
}
.content .description .left-description .card-search {
    margin-top: 2rem;
}
.left-description .button-buy {
    margin-top: 3rem;
    background-color: #212a3e;
    border-radius: 2rem;
    /* width: 200px;
    height: 50px; */
    display: inline-block;
    padding: 1rem 1.5rem;
}
.left-description .button-buy a {
    color: white;
}

.line {
    background-color: rgb(1, 1, 1, 0.8);
    height: 1px;
    margin-left: 7%;
    margin-right: 7%;
}

.container {
    height: 400px;
    width: 100%;
    padding: 1.4rem 7%;
    /* background-color: #428cc6; */
}

/* carousel */
.slider {
    margin: 1rem auto;
    max-width: 940px;
    /* padding: 1.4rem 7%; */
    /* background-color: #394867; */
}

.slide_viewer {
    height: 340px;
    overflow: hidden;
    position: relative;
    border: 1px solid black;
    border-radius: 0.5rem;
}

.slide_group {
    height: 100%;
    position: relative;
    width: 100%;
}

.slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
}

.slide:first-child {
    display: block;
}

a.slide_btn {
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.slide_btn.active,
.slide_btn:hover {
    color: #428cc6;
    cursor: pointer;
}

.directional_nav {
    height: 340px;
    margin: 0 auto;
    max-width: 940px;
    position: relative;
    top: -340px;
}

.previous_btn {
    bottom: 0;
    left: 100px;
    margin: auto;
    position: absolute;
    top: 0;
}

.next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 100px;
    top: 0;
}

.previous_btn,
.next_btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
}

.previous_btn:hover,
.next_btn:hover {
    opacity: 1;
}
.cards-product {
    padding: 1.4rem 7%;
    width: 100%;
    height: auto;
    /* background-color: #394867; */
}
.cards-product .cards {
    margin-top: 2rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;
}
.cards-product .cards .card {
    height: 400px;
    /* border-: 1px solid rgb(0, 0, 0, 0.5); */
    box-shadow: 1px 1px 5px black;
    border-radius: 0.5rem;
    width: 15%;
    display: block;
    padding: 0.5rem;
}
.cards-product .cards .card img {
    width: 100%;
    border-radius: 0.5rem 1rem 0 0;
    height: 15rem;
    /* background-size: cover;
    background-repeat: no-repeat; */
}
.cards-product .cards .card .captions {
    margin-top: 0.5rem;
}
.cards-product .cards .card .captions h5 {
    color: #010101;
    font-weight: 300;
    margin-bottom: 0.5rem;
}
.cards-product .cards .card .captions p {
    color: var(--secondary2);
    font-weight: 600;
}

@media (max-width: 767px) {
    #hamburger-menu {
        display: inline-block;
    }
    .navbar .navbar-nav .navbar-menu {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--secondary2);
        width: 30rem;
        box-shadow: 0px 7px 7px 7px var(--font);
        height: 100vh;
        transition: 0.3s;
    }
    .navbar .navbar-nav .navbar-menu a {
        display: block;
        color: white;
        font-size: 2rem;
        padding: 0.5rem;
        margin: 1.5rem;
    }
    .navbar .navbar-nav .navbar-menu a:hover {
        color: #d6e4e5;
    }
    .navbar .navbar-nav .navbar-menu a::after {
        transform-origin: 0 0;
        border-bottom: 0.1rem solid white;
    }
    .navbar .navbar-nav .navbar-menu a:hover::after {
        transform: scaleX(0.1);
    }
    .navbar .navbar-nav .navbar-menu.active {
        right: 0;
    }
    .previous_btn {
        left: 50px;
    }
    .next_btn {
        right: 50px;
    }
    .navbar .navbar-extra .daftar {
        display: none;
    }
    .navbar .navbar-extra .masuk {
        position: absolute;
        top: 30%;
        right: 20%;
    }
    .navbar .navbar-extra #hamburger-menu {
        padding: 0.5rem 1rem;
    }
    .hero {
        width: 100%;
        padding: 1.4rem 0;
    }

    .hero .description .image-shop {
        display: none;
    }
    .left-description .button-buy {
        font-size: 1.2rem;
        border-radius: 0.5rem;
        margin-bottom: 3rem;
    }

    .content .description .left-description .card-search input[type="text"] {
        padding: 6px 10px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
    }
    .content .description .left-description .card-search button {
        /* float: right; */
        padding: 6px 10px;
        margin-top: 8px;
        /* margin-right: 50px; */
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
    }
    .content .description .left-description .card-search button:hover {
        background: #ccc;
    }

    .content .description .left-description h1 {
        font-weight: 700;
        margin-top: 5rem;
        color: var(--secondary2);
        font-size: 3rem;
    }
    .content .description .left-description p {
        font-size: 1.5rem;
    }
    .content .description .left-description .card-search {
        margin-top: 2rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 60%;
    }
    /* #hamburger-menu{
    } */
}
